.navbar-brand {
    padding: 10px;
    background-color: yellowgreen;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.navbar {
    background-color: rgb(240, 243, 91);
}


.navbar li {
    display: inline-block;
    padding: 5px;
    margin-right: 5S0px;
    margin-left: 10px;
    cursor: pointer;
    background: yellowgreen;
    border-radius: 5px;
    text-align: center;
}


p {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: red;
}


img {
    margin-left: auto;
    margin: auto;
    display: block;
    size: 15px;
}


body {
    background-image: url(assets/images/heatmap.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: red
}

h2 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: red
}

h3 {
    text-align: justify;
    color: red;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 488px;
}